.six-digit-input input {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;
}


.six-digit-input {
    display: flex;
    gap: 20px;
    align-items: center;

    
     
 


}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  
   


}