.image-details {
    text-align: left;
    margin-left: 16%;
  }
  
  .image-details-image img {
    max-width: 400px;
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  .image-details-image{
    padding-top: 10px;
    width: 100%;
    
    
  }
  

  .btn{
    text-align: center;
    width: 400px;
    font-size: 20px;

  }
  .download-button button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

  .download-button button:hover {
   background: #4f46e5;
   }


  .download-button{
    float: right;
    padding-right: 500px;


  }

  .user-avatar{
    border-radius: 50%;
    max-width: 50px;
  }

  .user-info{
    display: flex;
    align-items: center;
    gap: 10px; 
    
  }

  .image-info{
    margin-right: 100px;
  }



 .imageComments{
  display: flex;          /* inline-flex поможет обернуть только контент */
  flex-direction: column;
  align-items: center;         /* выравнивание элементов по правому краю */
  padding: 20px;
  margin-left: 0;             /* "прижимаем" к правому краю */
  margin-right: 0;

 }


