.image-details {
    display: grid;
    grid-template-columns: repeat(2,0.7fr);
  }

@media (max-width: 600px) {
  .image-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    
  }
  
}

  
  .image-details-image img {
    max-width: 80%;
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  .image-details-image{
    padding-top: 10px;
    width: 100%;
  }
  

  .btn{
    text-align: center;
    width: 400px;
    font-size: 20px;

  }
  .download-button button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

  .download-button button:hover {
   background: #4f46e5;
   
   }


  
  .user-avatar{
    border-radius: 50%;
    max-width: 50px;
  }

  .user-info{
    display: flex;
    align-items: center;
    gap: 10px; 
    
  }

  .image-info{
    padding: 10px;
  }



 .imageComments{
  display: flex;         
  flex-direction: column;
  align-items: center;         
  padding: 20px;
  margin-left: 0;             
  margin-right: 0;

 }


